<% const page ={id: 'top'} ; %><%- include('_inc/_header', {data: json[page.id], page:page}) %>
<div class="sections">
  <div class="sections-inner">
    <section class="section section-hero">
      <div class="main-container">
        <div class="bg"></div>
        <h1 class="title">
          <div class="hero-logo"></div>
        </h1>
        <div class="guide-scroll"><img src="/assets/img/common/hero-scroll.png" alt="SCROLL"><span class="mouse-line"></span></div>
      </div>
    </section>
  </div>
</div>
<%- include('_inc/_footer', {data: json[page.id], page:page}) %>
